.about-section {
  background-color: #242424;
}

.about-deco{
  width: 100%;
  height: 30px;
  background-color: var(--primary);
}

.about-container {
  width: 100%;
  min-height: 65vh;
  padding: 50px 50px;
  background-color: rgba(68, 52, 148, 0.9);
  display: flex;
  justify-content: space-evenly;
}

/* .about__info, .about__features{
  width: 50%;
} */

.about__info {
  width: 30%;
  border-right: 5px solid var(--third);
}

.about__features {
  padding-left: 30px;
}

.info__title, .features__title {
  font-family: var(--headings-font);
  color: var(--white);
  padding-bottom: 30px;
  font-size: 40px;
}

.info__text {
  font-family: var(--text-font);
  color: var(--primary);
  font-size: 20px;
  margin: 0 1rem 0 0;
  text-align: justify;
}

.features__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feature__name {
  text-align: center;
  font-family: var(--text-font);
  color: var(--primary);
  font-size: 20px;
  padding-bottom: 15px;
}

.feature__img {
  max-width: 100%;
  height: 170px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
  .info__title, .features__title{
    font-size: 30px;
    padding-bottom: 10px;
  }
  .info__text{
    font-size: 16px;
  }
}

@media screen and (max-width: 980px){
  .about-container {
    flex-direction: column;
  }
  .about__info{
    width: 100%;
    border-right: none;
    border-bottom: 5px solid var(--third);
    padding-bottom: 10px;
  }

  .about__features {
    padding-left: 0;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .features__cards{
    flex-direction: column;
  }
  .categories__cards{
    grid-template-columns: 1fr 1fr;
  }
  .secondary{
    grid-column: 2 / 3;
  }
  .bg-pink{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .bg-purple{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}