.contact-container {
  padding: 15vh 50px 20px;
  background-image: url('../../public/assets/bg5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.contact__title {
  font-family: var(--headings-font);
  font-weight: 700;
  color: var(--white);
  text-align: center;
  padding-bottom: 15px;
}

.form__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.contact__img {
  max-width: 100%;
  max-height: 100%;
}

.contactForm-container {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  padding: 10px 25px;
  border-radius: 15px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 15px;
} 

.contact-form__input {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: var(--headings-font);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

.form__input {
  padding: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.form__input:focus {
  outline: none;
}

.textarea {
  height: 230px;
  resize: none;
}

.message {
  grid-column: 1 / 3;
}

.form__btn {
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
  border: 5px solid var(--third);
  border-radius: 15px;
  font-family: var(--headings-font);
  font-weight: 700;
  color: var(--secondary-light);
  background-color: var(--secondary-dark);
  font-size: 20px;
}

.form__btn:hover {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}