.shop__side-bar, .css-2m9kme-MuiFormControl-root {
    border-radius: 10px;
    padding: 1rem;
    color: white !important;
    background-color: rgba(255, 255, 255, 0.36);
}

.shop__side-bar{
    margin: 1rem 0;
    position: fixed;
    top: 20vh;
    left: 15vw;
    min-height: 56%;
    display: flex;
    flex-flow: column nowrap;

}

.filter-contaniner__find{
    display: flex;
    justify-content: flex-end;
}

.css-2m9kme-MuiFormControl-root p{
    display: none;
}

.css-187mznn-MuiSlider-root{
    color: #8d237e !important;
}

.shop__main{
    display: flex;
    flex-flow: column;
    justify-content: center
}

.shop__main input{
    margin-bottom: 1rem;
    width: fit-content;
}

body::-webkit-scrollbar {
    color: #511549;          
  }
  
body::-webkit-scrollbar-track {
    background: #8d237e;       
  }
  
body::-webkit-scrollbar-thumb{
    background-color: #511549;   
    border-radius: 5px;      
    border: none; 
  }

  @media screen and (max-width:1300px) {
    .shop__side-bar{
        background-color: unset;
    }

  }

  @media screen and (max-width:1900px) {
    .shop__side-bar{
        margin: 1rem 0;
        position: fixed;
        top: 12vh;
        left: 8vw;
        min-height: 56%;
  }
  
}