.nav-container {
  width: 100%;
  height: 12vh;
  background-color: rgba(68, 52, 148, 0.5);
  backdrop-filter: blur(8px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.nav__logo {
  max-width: 100%;
  height: 100%;
}

.nav__menu--navigation {
  display: flex;
  gap: 25px;
}

.nav__menu--item {
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  font-size: 24px;
  padding: 5px 10px;
}

.nav__menu--item:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.nav__menu--sign {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__menu__sign-btn {
  background-color: transparent;
  padding: 5px 10px;
  border: 3px solid var(--primary);
  font-size: 24px;
  font-family: var(--headings-font);
  color: var(--white);
  border-radius: 20px;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__name {
  font-family: var(--text-font);
  color: var(--white);
}

.nav__menu__sign-btn:hover {
  background-color: var(--primary);
}

.nav__menu__photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__menu--itemSign {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6px 25px;
  border-radius: 20px;
}
