.shop__container {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  min-height: 100vh;
}

.shop__side-bar {
  display: flex;
  flex-direction: column;
}
.shop__content {
  width: 100%;
  /* overflow-y: scroll; */
}

.shop__main {
  background-image: url("../../public/imagenes/gradientwall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15vh 0 20px 30px;
  min-height: 80vh;
}
