.shop__container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.tro-bar {
  display: flex;
}
.shop__side-bar {
  display: flex;
  flex-direction: column;
}
.shop__content {
  width: 100%;
  overflow-y: scroll;
}

.shop__main {
  background-image: url(https://cdn.discordapp.com/attachments/929119504842231878/930592705359269898/abstract-wallpaper-9-1600x900.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15vh 0 20px 30px;
}
