.sidebar {
  height: 100%;
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  box-shadow: 1px 1px 5px rgba(76, 76, 76, 0.741);
}


.sidebar-wrapper {
  padding: 20px;
  color: rgb(35, 35, 35);
}

.sidebar-menu {
  margin-bottom: 10px;
}

.sidebar-title {
  font-size: 13px;
  color: #8d237e;
}

.sidebar-list {
  list-style: none;
  padding: 5px;
}

.sidebar-list__item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  
}

.sidebar-list__item--active,
.sidebar-list__item:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}



@media screen and (max-width: 768px){

  .sidebar {
    height: 100%;
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: unset;
    box-shadow: 1px 1px 5px rgba(76, 76, 76, 0.741);
  }

  .sidebar-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
}