:root {
  /* FONTS */
  --headings-font: "Poppins", sans-serif;
  --text-font: "Mukta", sans-serif;
  --logo-font: "Varela Round", sans-serif;
  --nav-height: 10vh;

  /* COLORS */
  --white: #ffff;
  --primary: #fb9728;
  --secondary: #8d237e;
  --secondary-dark: #662a88;
  --secondary-light: #e1b0f9;
  --third: #ef2f56;
  --blue: #443494;
  --primarySoft: #f7dcbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--headings-font);
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  position: unset !important;
  height: fit-content !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  margin-top: 12vh;
}
p {
  margin-bottom: unset !important;
}

a {
  text-decoration: none;
}

.addcart-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.addcart-container button {
  text-align: start;
  min-width: 15rem;
  border-radius: 5px;
}

.reseña-container {
  display: flex;
}

.noexiste-container {
  padding: 1rem;
  text-align: center;
  width: 50vw;
  background-color: var(--white);
  margin: 2px 0;
  border-radius: 5px;
}

.adminPanel__container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}


@media screen and (max-width: 768px){
  
.adminPanel__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.user-lgsm__container{
  display: flex;
  flex-flow: column nowrap;
}

}