:root {
  /* FONTS */
  --headings-font: "Poppins", sans-serif;
  --text-font: "Mukta", sans-serif;

  /* COLORS */
  --white: #ffff;
  --primary: #fb9728;
  --secondary: #8d237e;
  --secondary-dark: #662a88;
  --secondary-light: #e1b0f9;
  --third: #ef2f56;
  --blue: #443494;
  --primarySoft: #f7dcbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: unset !important;
}

a {
  text-decoration: none;
}

/* ESTILO DE COMPONENTE PRODUCTOS */

.container-all_productos{
  padding-top: 12vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(237, 237, 237);
}

.container-all_productos h1{
  font-family: var(--headings-font);
  font-size: 2rem;
  text-align: center;
  margin: 5px 0;
}

.container-all_filtros {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.container-filtros {
  margin: 0 5px;
  min-width: 25vw;
  border-radius: 5px;
}

.productos-container {
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.prod-container{
  width: 50vw;
  height: 18rem;
  background-color: var(--white);
  margin: 2px 0;
  border-radius: 5px;
}

.noexiste-container{
  padding: 1rem;
  text-align: center;
  width: 50vw;
  background-color: var(--white);
  margin: 2px 0;
  border-radius: 5px;
}


/* ESTILO COMPONENTE PRODUCTO */


.card-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
  height: 100%;
  background-color: none;
}

.img-container img{
  margin-top: 2rem;
  max-width: 150px;
  max-height: 200px;
  object-fit: cover;
}

.text-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.text-container a {
  margin: 1rem 0 0 0;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
}

.price-card_container{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.price-container {
  font-size: 2rem;
  padding: 0 0 .5rem 0 ;
  font-weight: 400;
  color: var(--secondary);
  border-radius: 5px;
  text-align: center;
}

.addcart-container{
  display: flex;
  flex-flow:  row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.btn-card, .btn-card a{
  text-transform: uppercase;
  padding: .5rem  0;
  background-color: unset;
  border: unset;
  color: var(--secondary-light);
}

.btn-card:hover, .btn-card a:hover{
  color: var(--secondary);
}

.fav-container {
  margin: 0 8px 0 0;
  width: 25%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.fav-container  .boton-like{
  border: unset;
  background-color: unset;
  font-size: 2rem;
}

.like-container{
  margin: 1rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


.reseña-container{
  display: flex;
  padding: .5rem  0;
}


.form-control{
  border-radius: 5px;
}

.form-control:focus {
  color: #2a2c2e;
  background-color: #f7f7f9;
  border-color: #8d8d8d;
  box-shadow: 0 0 0 1px var(--secondary-dark);
}

